{% extends 'base.html' %}

{% block content %}
<span class="title">
    <h1>{% block title %} Create New Field Type {% endblock %}</h1>
</span>
<div class="content">
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="name">Field Type Name:</label>
        {{ form.name(size=32) }}<br>

        <label for="description">Description:</label>
        {{ form.description(cols=30, rows=5) }}<br>

        {{ form.submit() }}
    </form>
    <a href="{{ url_for('field_type.list_field_types') }}">Back to Field Types</a>
</div>
{% endblock %}