{% extends 'base.html' %}

{% block content %}
<span class="title">
    <h1>{% block title %} Users {% endblock %}</h1>
</span>
<div class="content">
    <a href="{{ url_for('user.new_user') }}">Create New User</a>
    <ul>
        {% for user in users %}
        <li>
            {{ user.username }} - {{ user.email }}
            <a href="{{ url_for('user.edit_user', user_id=user.id) }}">Edit</a>
            <form action="{{ url_for('user.delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}