{% extends 'base.html' %}

{% block content %}
<span class="title">
    <h1>{% block title %} Avatars {% endblock %}</h1>
</span>
<div class="content">
    <a href="{{ url_for('avatar.new_avatar') }}">Create New Avatar</a>
    <ul>
        {% for avatar in avatars %}
        <li>
            User ID: {{ avatar.user_id }} - Image URL: {{ avatar.image_url }}
            <a href="{{ url_for('avatar.edit_avatar', avatar_id=avatar.id) }}">Edit</a>
            <form action="{{ url_for('avatar.delete_avatar', avatar_id=avatar.id) }}" method="POST"
                style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}