{% extends 'base.html' %}

{% block content %}
<span class="title">
    <h1>{% block title %} Edit Tag {% endblock %}</h1>
</span>
<div class="content">
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="name">Tag Name:</label>
        {{ form.name(size=32) }}<br>

        <label for="model_url">Model URL:</label>
        {{ form.model_url(size=32) }}<br>

        {{ form.submit() }}
    </form>
    <a href="{{ url_for('tag.list_tags') }}">Back to Tags</a>
</div>
{% endblock %}