{% extends 'base.html' %}

{% block content %}
<span class="title">
    <h1>{% block title %} Create New User Role {% endblock %}</h1>
</span>
<div class="content">
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="name">UserRole Name:</label>
        {{ form.name(size=32) }}<br>

        <label for="description">UserRole Description:</label>
        {{ form.description(cols=30, rows=5) }}<br>

        {{ form.submit() }}
    </form>
    <a href="{{ url_for('user_role.list_user_roles') }}">Back to User Roles</a>
</div>
{% endblock %}