{% extends 'base.html' %}

{% block content %}
<span class="title">
    <h1>{% block title %} Edit Screenplay {% endblock %}</h1>
</span>
<div class="content">
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="name">Screenplay Name:</label>
        {{ form.name(size=32) }}<br>

        <label for="description">Description:</label>
        {{ form.description(cols=30, rows=5) }}<br>

        {{ form.submit() }}
    </form>
    <a href="{{ url_for('screenplay.list_screenplays') }}">Back to Screenplays</a>
</div>
{% endblock %}